.SecondNavigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 30px;
}

.SecondNavigationText{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    border: none;
    background: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.Description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 26px;

    /* width: 1180px; */
    /* height: 494px; */
}

.Description1Part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Description2Part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Description3Part{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Circle{
    width: 12px;
    height: 12px;

    background: #FFFFFF;
    border-radius: 100px;
}