* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    background-color: #14181D;
    color: white;
    font-family: Arial, sans-serif;
}


#banner {
    background-color: #14181D;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
}

.banner-text {
    font-size: 1.2rem;
    max-width: 600px;
    margin-top: 10px;
}

.banner-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.banner-button:hover {
    background-color: #0056b3;
}


.category {
    padding: 20px;
}

.category-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.films-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.film-poster {
    width: 180px;
    border-radius: 5px;
}