.genresDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    gap: 40px;
    padding-bottom: 30px;
}

.createGenre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 260px;
    height: 70px;
}

.createGenre button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #767D8D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}


.allGenres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    gap: 10px;
}

.genreCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 350px;
    height: 200px;
}

.GenreInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.GenreInfo p{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.genreCardButtons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.genreCardButtons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    background: #767D8D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}