.moviesDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    gap: 40px;
    padding-bottom: 30px;
}

.createMovie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 260px;
    height: 70px;
}

.createMovie button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 235px; */
    /* height: 48px; */
    background: #767D8D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}


.allMovies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    gap: 10px;
}

.moviesCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 350px;
    height: 200px;
}

.movieInfo{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.movieInfo img{
    height: 230px;
    border-radius: 3px;
}

.movieTitle{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.additionalMovieInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.additionalMovieInfo p{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A3A3A3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.movieCardButtons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.movieCardButtons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    background: #767D8D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}