.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-contact {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer-contact p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
